In [238]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [239]:
df = pd.read_csv('Cardetails.csv')
df = df.drop(columns=['torque'])
df.dropna(inplace= True)
df.drop_duplicates(inplace= True)

In [240]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip()


def clean_data(value):
    value = value.split(' ')[0]
    value = value.strip()
    if value == '':
        value = 0
    return float(value)

In [241]:
df['name'] = df['name'].apply(get_brand_name)

df['mileage'] = df['mileage'].apply(clean_data)
df['max_power'] = df['max_power'].apply(clean_data)
df['engine'] = df['engine'].apply(clean_data)

In [242]:
from sklearn.model_selection import train_test_split
import pandas as pd


cars_data = pd.get_dummies(df, columns=df.select_dtypes(include=['object']).columns)


x = cars_data.drop(columns='selling_price')  
y = df['selling_price']  # Target variable

# Split data into training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [243]:
x.head()

,year,km_driven,mileage,engine,max_power,seats,name_Ambassador,name_Ashok,name_Audi,name_BMW,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,145500,23.40,1248.0,74.00,5.0,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
1,2014,120000,21.14,1498.0,103.52,5.0,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
2,2006,140000,17.70,1497.0,78.00,5.0,False,False,False,False,...,False,True,False,False,True,False,False,False,False,True
3,2010,127000,23.00,1396.0,90.00,5.0,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
4,2007,120000,16.10,1298.0,88.20,5.0,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False

In [244]:
cars_data

,year,selling_price,km_driven,mileage,engine,max_power,seats,name_Ambassador,name_Ashok,name_Audi,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,23.40,1248.0,74.00,5.0,False,False,False,...,False,True,False,False,True,True,False,False,False,False
1,2014,370000,120000,21.14,1498.0,103.52,5.0,False,False,False,...,False,True,False,False,True,False,False,True,False,False
2,2006,158000,140000,17.70,1497.0,78.00,5.0,False,False,False,...,False,True,False,False,True,False,False,False,False,True
3,2010,225000,127000,23.00,1396.0,90.00,5.0,False,False,False,...,False,True,False,False,True,True,False,False,False,False
4,2007,130000,120000,16.10,1298.0,88.20,5.0,False,False,False,...,False,True,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8121,2013,260000,50000,18.90,998.0,67.10,5.0,False,False,False,...,False,True,False,False,True,False,False,True,False,False
8122,2014,475000,80000,22.54,1396.0,88.73,5.0,False,False,False,...,False,True,False,False,True,False,False,True,False,False
8123,2013,320000,110000,18.50,1197.0,82.85,5.0,False,False,False,...,False,True,False,False,True,True,False,False,False,False
8124,2007,135000,119000,16.80,1493.0,110.00,5.0,False,False,False,...,False,True,False,False,True,False,True,False,False,False
8125,2009,382000,120000,19.30,1248.0,73.90,5.0,False,False,False,...,False,True,False,False,True,True,False,False,False,False

In [245]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_x_train = scaler.fit_transform(x_train)
scaled_x_test = scaler.transform(x_test)

In [246]:
# def get_scaled_dataframe(x_train , x_test ):
#     scaled_x_train = pd.DataFrame(x_train, index=x_train.index)
#     scaled_x_test = pd.DataFrame(x_test, index = x_test.index)
#     return scaled_x_train, scaled_x_test

In [247]:
scaled_x_train, scaled_x_test = get_scaled_dataframe(x_train,x_test)

In [248]:
scaled_x_train.head()

,year,km_driven,mileage,engine,max_power,seats,name_Ambassador,name_Ashok,name_Audi,name_BMW,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
2804,2008,110000,17.70,1497.0,78.0,5.0,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1428,2017,35000,25.83,1498.0,99.0,5.0,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
7101,2010,80000,13.20,1495.0,93.7,5.0,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
6876,2008,110000,12.70,2609.0,116.6,8.0,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
7360,2017,58559,25.20,1248.0,74.0,5.0,False,False,False,False,...,True,False,False,False,True,True,False,False,False,False

In [249]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

lr_model = LinearRegression()
lr_model.fit(scaled_x_train, y_train)
lr_predictions = lr_model.predict(scaled_x_test)

lr_mse = mean_squared_error(y_test, lr_predictions)
lr_mae = mean_absolute_error(y_test, lr_predictions)
lr_r2 = r2_score(y_test, lr_predictions)

print("Linear Regression Metrics:")
print(f"  MSE: {lr_mse}")
print(f"  MAE: {lr_mae}")
print(f"  R2 Score: {lr_r2}")

# KNN Regressor
knn_model = KNeighborsRegressor(n_neighbors=5)
knn_model.fit(scaled_x_train, y_train)
knn_predictions = knn_model.predict(scaled_x_test)

knn_mse = mean_squared_error(y_test, knn_predictions)
knn_mae = mean_absolute_error(y_test, knn_predictions)
knn_r2 = r2_score(y_test, knn_predictions)

print("\nKNN Regressor Metrics:")
print(f"  MSE: {knn_mse}")
print(f"  MAE: {knn_mae}")
print(f"  R2 Score: {knn_r2}")

Linear Regression Metrics:
  MSE: 42031423840.76675
  MAE: 124268.83148316015
  R2 Score: 0.7614829819094368

KNN Regressor Metrics:
  MSE: 79694813373.37366
  MAE: 159522.69538690476
  R2 Score: 0.5477533829186056

In [250]:
lr_predictions

array([ 632146.9342885 ,  758713.47327366,  503717.232154  , ...,
        919442.62152134, -149216.7297387 ,   85631.00506759])

In [251]:
knn_predictions

array([417000. , 667000. , 261000. , ..., 847600. , 114999.8, 497000. ])